﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="icon" href="~/favicon.ico" />

    <title>@ViewBag.Titulo | Gerador de Testes</title>
</head>
<body>
    <partial name="_NavbarPartial" />

    <header class="container my-4">
        <h2 class="text-primary">@ViewBag.Titulo</h2>
    </header>
    <main class="container my-4">
        @RenderBody()
    </main>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @RenderSection("Scripts", required: false);
</body>
</html>
