﻿@{
ViewBag.Titulo = "Página Inicial";
}

<hr/>

<div class="row flex-wrap gap-2 column-gap-lg-5">
    <div class="col order-1 order-lg-0 py-3">
        <p class="fs-5">
        Crie Testes de forma fácil e rapida com o Gerador de Testes.
        Uma plataforma rápida e Intuítiva para a criação de testes. desafie os seus alunos com questões unicas criadas com o auxilio IA. Ganhe tempo e 
        aumente a sua produtividade com correções automáticas! 
        </p>
        <p class="fs-4 mt-4 text-secondary-emphasis">Escolha uma das opções para começar:</p>

        <div class="d-flex flex-sm-wrap gap-2">
            <div class="col col-lg-3">
                <a href="/disciplinas" class="btn btn-outline-primary fw-semibold rounded-2 w-100">Disciplinas</a>
            </div>

            <div class="col col-lg-3">
                <a href="/materias" class="btn btn-outline-primary fw-semibold rounded-2 w-100">Matérias</a>
            </div>

            <div class="col col-lg-3">
                <a href="/questoes" class="btn btn-outline-primary fw-semibold rounded-2 w-100">Questões</a>
            </div>

            <div class="col col-lg-3">
                <a href="/testes" class="btn btn-outline-primary fw-semibold rounded-2 w-100">Testes</a>
            </div>
        </div>
    </div>
    <div class="col-lg-5 order-0 order-lg-1 mx-auto text-end">
        <img src="~/images/online-test-rafiki.png" alt="Teste online" class="img-fluid" />
        <a class="text-decoration-none" href="https://storyset.com/people" target="_blank">Ilustrações de pessoas por <strong>Storyset</strong></a>
    </div>
</div>